apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: task-mgt-dev
  name: task-mgt-app
  labels:
    app: task-mgt-app
spec:
  selector:
    matchLabels:
      app: task-mgt-app
  template:
    metadata:
      labels:
        app: task-mgt-app
    spec:
      containers:
        - name: task-mgt-app
          image: gcr.io/peter-sandbox-237917/task_mgt:v7
          resources:
            requests:
              cpu: 100m
              memory: 100Mi
          env:
            - name: REDIS_HOST
              value: "task-mgt-redis-master"
            - name: REDIS_PORT
              value: "6379"
            - name: RABBIT_USER
              value: "guest"
            - name: RABBIT_PASSWORD
              value: "guest"
            - name: RABBIT_HOST
              value: "task-mgt-rabbit"
            - name: RABBIT_PORT
              value: "5672"
            - name: RABBIT_VHOST
              value: "/"
            - name: CELERY_BACKEND_REDIS_DB
              value: "1"
          ports:
            - name: web
              containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  namespace: task-mgt-dev
  name: task-mgt-app
  labels:
    app: task-mgt-app
spec:
  type: LoadBalancer
  ports:
  - port: 80
  selector:
    app: task-mgt-app
